.titlebar.less-tall {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
}

.titlebar.less-tall * {
	padding-top: 0px;
	padding-bottom: 0px;
}

frame.settings-group {
    padding: 16px;
}

label.settings-group-title {
    font-size: 120%;
}

frame.settings-group grid > * {
  margin: 4px;
}

frame.settings-group grid > * > * {
  margin: 4px;
}

listview row {
    padding: 4px;
    border-bottom: 1px solid #eee;
    margin-left: 6px;
}

overlay frame.progress-popup {
    background: #fff;
    margin-bottom: 8px;
    margin-right: 8px;
    box-shadow: 2px 2px 12px #aaa;
}

overlay frame.progress-popup progressbar {
    color: #000;
    font-size: 100%;
    margin: 8px;
}

overlay frame.progress-popup progressbar text {
    margin-bottom: 8px;
}
